.logo {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  display: block;

}

.initial {
  color: black;
  background-color: white;
}

body {
  color: black;
  background-color: white;
}

#heading {
  font-size: 125px;
  padding-left: 25px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.contentHomePage {
  margin-left: 100px;
}

p {
  font-family: monospace;
  font-size: 25px;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("https://miro.medium.com/max/6668/1*CrkpS2h0AEydKvbuiWP1yA.jpeg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("https://images.pexels.com/photos/261621/pexels-photo-261621.jpeg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  border-width: thick;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;

}

.welcometo {
  padding-left: 25px;
}

/* h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
} */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}