{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="initial">
      <h3 class="welcometo">Choose Your Form With Signature Here At</h3>
      <h1 id="heading">EForm</h1>
    </div>
    <br />
    <br /><br /><br /><br /><br />

    <div
      style="
        color: #ddd;
        background-color: #282e34;
        text-align: center;
        padding: 50px 80px;
        text-align: justify;
      "
    >
      <h1 style="text-align: justify">Who are we?</h1>
      <br />

      <p>
       We aim to make sure the people found out the required information 
        regarding the forms and submit them electronically without going to 
        the organization in these uncertain times. This was one way of making
         sure that the functioning of the NGOs did not get affected as well as 
         people did not put themselves at unnecessary risk. 
        We use DocuSign API to fullfill this requirement.
      </p>
    </div>

    <div class="bgimg-2">
      <div class="caption">
        <span
          class="border"
          style="background-color: #666699; font-size: 25px; color: #f7f7f7"
          >All Forms+All Functionality</span
        >
      </div>
    </div>

    <div style="position: relative">
      <div
        style="
          color: #ddd;
          background-color: #282e34;
          text-align: center;
          padding: 50px 80px;
          text-align: justify;
        "
      >
        <h1>Here is how we work</h1>
        <br />
        <p>
          Click on the desired form. Fill the form. Get the pdf. Authenticate it
          with your signature and download it for further use.
        </p>
      </div>
    </div>

    <div class="bgimg-3">
      <div class="caption">
        <span
          class="border"
          style="background-color: #666699; font-size: 25px; color: white"
          >EFFICIENCY</span
        >
      </div>
    </div>

    <div style="position: relative">
      <div
        style="
          color: #ddd;
          background-color: #282e34;
          text-align: center;
          padding: 50px 80px;
          text-align: justify;
        "
      >
        <h1>Scalability</h1>
        <br />
        <p>
          In the future we aim for the forms to be customizable and hopefully one day all
          forms can be filled online, eliminating the need of paper and reducing
          the risk of forgery.
        </p>
      </div>
    </div>

    <div class="bgimg-1">
      <div class="caption">
        <span
          class="border"
          style="background-color: #666699; font-size: 25px; color: #f7f7f7"
          >SECURITY</span
        >
      </div>
    </div>
{% endblock %}
